.myprofile-card{
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(212, 211, 211);
}

.profile{
    margin-left: 150px;
}

.profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card{
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(212, 211, 211);
}